# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
word2vec
word2phrase
word2phrase-so
distance
distance-io
word-analogy
compute-accuracy
binvec2txt
txtvec2bin

#  Output
output
